.BuildControl {
    display: flex; /*position div with text and button*/
    justify-content: space-between; /*distribute element swith space between*/
    align-items: center; /*align content in center*/
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 40px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(228, 37, 37);
    border: 1px solid rgb(63, 63, 63);
    color: white;
}

.BuildControl .More {
    background-color: rgb(82, 211, 104);
    border: 1px solid green;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(218, 126, 114);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(33, 109, 33);
    color: white;
}

